$font-size-base:          24px !default;
$font-family-sans-serif:  Helvetica
$font-family-serif:       Georgia

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"

$beer: #f4be16

// Fasteclick
html, body 
  -webkit-tap-highlight-color: transparent
  height: 100%

html, body, a, td, tr
  color: black
  padding: 0
  margin: 0

*
  transition: all 0.3s ease


.full-height
  height: 100%

.flex-vert-container
  height: 100%
  display: flex
  flex-direction: column
  
  background: $beer

  .flex-header
    flex-basis: 174px
    background: url(images/header-bg.png)
    background-size: cover
    background-repeat: no-repeat

    .logo
      margin: 10px
      height: 90px
      margin: 20px 0 0 30px
      padding: 28px 0 0 85px
      font-weight: bold
      font-size: 26px
      line-height: 22px
      display: inline-block
      background: url(images/logo.png)
      background-size: contain
      background-repeat: no-repeat

    ul.navigation
      float: right
      margin: 50px 20px 0 0 
      
      li 
        display: inline-block
        
        &.active
          a
            font-weight: bold
            text-decoration: none
            color: inherit

        a
          padding: 10px
          font-size: 24px
          &:hover
            text-decoration: none
            color: inherit

  .flex-body
    flex-grow: 1

    .users
      display: flex
      flex-direction: row
      flex-wrap: wrap

      .user
        display: flex
        flex-grow: 1
        flex-basis: 200px
        margin: 10px 10px
        padding: 10px
        border-radius: 3px
        box-shadow: 0px 0px 20px rgba(0,0,0,.3)

        &.active
          .left, .right
            opacity: 1


        .left, .right
          opacity: 0
          flex-basis: 64px

        .center
          flex-grow: 1
          text-align: center
        