@import variables
@import bootstrap-sass

html, body, #app
  height: 100%
  padding: 0px
  
  table
    height: 90%
    padding: 0px
    td, th 
      font-size: 120%

  .beers
    button 
      margin: 15px
      width: 160px
      height: 80px
      font-size: 160%